<h1>Listado de Libros</h1>
<div class='row'>
  <center>
    <div class='row'>
<form action='/book/searchBooks' method='post' class='col s12 z-depth-3'>
    <div class='row'>
      <div class='input-field col s12 m6'>
        <i class='material-icons prefix'>
          query
        </i>
        <input name='query' id='query' type='text' class='validate' placeholder="Buscar"/>
        <label for='query'>
          Titulo, Categoría o Autor
        </label>
      </div>
    <div class='row center-align'>
      <button type='submit' class='amber darken-4 waves-effect waves-light btn'>
        <i class='material-icons left'>search</i>Buscar
      </button>
    </div>
  </form>
    </div>
    {{#each books}}
      <div class='col s12 m6'>
        <div class='card'>
          <div class='card-image'>
            <img src='{{image}}' height='250' />
            <span class='card-title'>{{title}}</span>
            <a
              href="javascript: deleteBook('{{_id}}')"
              class='btn-floating halfway-fab waves-effect waves-light red'
            ><i class='material-icons'>delete</i></a>
          </div>
          <div class='card-content'>
            <p
              style='max-height: 3em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'
            >{{description}}</p>
          </div>
          <div class='card-action'>
            <a href='/book/edit/{{_id}}'><i
                class='material-icons right'
              >edit</i>Editar Libro</a>
          </div>
        </div>
      </div>
    {{else}}
      <p>No hay proyectos que listar.</p>
    {{/each}}
  </center>
</div>